body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .header {
            background-color: #4CAF50;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        .header button {
             margin: 0 10px; 
            /*//1st value is of top-bottom and second one of left right */
            padding: 10px 20px;
            background-color: #f1f1f1;
            border: none;
            cursor: pointer;
        }
        
        .content {
            padding: 20px;
            
        }
        .footer {
            background-color: #f1f1f1;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        .footer a {
            color: #4CAF50;
            text-decoration: none;
        }

        .scroll1 {
        background-color: #f0ecec;
        overflow: auto;
        white-space: nowrap;
        padding: 1px;
        }

        .scrollmenu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        }

        .scroll1 a:hover {
        background-color: #777;
        }

        .typ{
            display:flex;
            justify-content: flex-start;
            

        }